{
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-type-checked",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2022,
        "project": true
    },
    "ignorePatterns": [
        "dist/**"
    ],
    "root": true,
    "rules": {
        "import/prefer-default-export": ["off", { "except": ["**/index.ts", "**/index.tsx"] }],
        "import/extensions": [
            "error",
            "never",
            {
                "json": "always"
            }
        ],
        "import/no-unresolved": "off",
        "max-len": [
            "warn",
            150
        ],
        "prettier/prettier": "warn",
        "curly": [
            "error",
            "all"
        ]
    }
}